form {
    width: 100%;
}

body {
    background-color: #EAECEE !important;
    margin-bottom: 3em !important;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.table {
    background-color: #fff !important;
}